<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaSa Chronicles - Under Construction</title>
    <link rel="stylesheet" href="{% static 'css/under_construction.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
<div class="construction-container">
    <div class="construction-content">
        <i class="fas fa-tools construction-icon"></i>
        <h1>We're Building Something Great!</h1>
        <p>Our website is currently under construction.
            <br>
            We'll be here soon with our new awesome site.
        </p>
        <p>Stay tuned!</p>
    </div>
</div>
</body>
</html>